<a href="https://colab.research.google.com/github/scudilio/FIAP/blob/main/RN_previsao_preco_autos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. Problema de Négocio

Objetivo: previsão de preços de carros.

# 2.Importando os dados

In [ ]:
import pandas as pd #processamento de conjunto de dados

In [ ]:
df = pd.read_csv("/content/autos.csv", encoding = "ISO-8859-1", sep = ",")

In [ ]:
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

# 3. Tratamento e Análise de Dados

In [ ]:
#excluindo informações irrelevantes para prever o preco
cols_to_drop = ["dateCrawled", "dateCreated", "monthOfRegistration", "nrOfPictures", "postalCode", "lastSeen"]
df = df.drop(cols_to_drop, axis = 1)

In [ ]:
df.describe()

              price  yearOfRegistration        powerPS      kilometer
count  3.715280e+05       371528.000000  371528.000000  371528.000000
mean   1.729514e+04         2004.577997     115.549477  125618.688228
std    3.587954e+06           92.866598     192.139578   40112.337051
min    0.000000e+00         1000.000000       0.000000    5000.000000
25%    1.150000e+03         1999.000000      70.000000  125000.000000
50%    2.950000e+03         2003.000000     105.000000  150000.000000
75%    7.200000e+03         2008.000000     150.000000  150000.000000
max    2.147484e+09         9999.000000   20000.000000  150000.000000

## buscando quais informacoes são relevantes para o modelo (analisando a variabilidade das informacoes)

In [ ]:
#analisando a variabilidade da feature name
df['name'].value_counts()

name
Ford_Fiesta                                              657
BMW_318i                                                 627
Opel_Corsa                                               622
Volkswagen_Golf_1.4                                      603
BMW_316i                                                 523
                                                        ...
Audi_A4_Avant_Klima_Gruene_Plakette_TÜV_&AU_NEU_XENON      1
Renault_clio_in_gold_450VB_!!                              1
Fiat_Doblo_1.6_Multijet                                    1
Renault_Laguna_1                                           1
BMW_M135i_vollausgestattet_NP_52.720____Euro               1
Name: count, Length: 233531, dtype: int64

In [ ]:
df.drop(['name'], axis = 1, inplace = True)

In [ ]:
df["vehicleType"].value_counts()

vehicleType
limousine     95894
kleinwagen    80023
kombi         67564
bus           30201
cabrio        22898
coupe         19015
suv           14707
andere         3357
Name: count, dtype: int64

In [ ]:
df.head()

,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage
0,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,benzin,volkswagen,NaN
1,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,diesel,audi,ja
2,privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,diesel,jeep,NaN
3,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,benzin,volkswagen,nein
4,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,diesel,skoda,nein

In [ ]:
df["seller"].value_counts() #pouca informacao de venda comercial deletar a feature

seller
privat        371525
gewerblich         3
Name: count, dtype: int64

In [ ]:
df['offerType'].value_counts() #deletar tipo de oferta

offerType
Angebot    371516
Gesuch         12
Name: count, dtype: int64

In [ ]:
cols = ["seller", "offerType"]
df = df.drop(cols, axis = 1)

## Dados inconsistente

In [ ]:
df.describe()

              price  yearOfRegistration        powerPS      kilometer
count  3.715280e+05       371528.000000  371528.000000  371528.000000
mean   1.729514e+04         2004.577997     115.549477  125618.688228
std    3.587954e+06           92.866598     192.139578   40112.337051
min    0.000000e+00         1000.000000       0.000000    5000.000000
25%    1.150000e+03         1999.000000      70.000000  125000.000000
50%    2.950000e+03         2003.000000     105.000000  150000.000000
75%    7.200000e+03         2008.000000     150.000000  150000.000000
max    2.147484e+09         9999.000000   20000.000000  150000.000000

In [ ]:
df.loc[df['price'] <= 10]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage
7,0,test,limousine,1980,manuell,50,andere,40000,benzin,volkswagen,nein
40,0,test,NaN,1990,NaN,0,corsa,150000,benzin,opel,NaN
60,1,control,suv,1994,manuell,286,NaN,150000,NaN,sonstige_autos,NaN
91,1,control,limousine,1995,manuell,113,e_klasse,150000,diesel,mercedes_benz,nein
115,0,test,NaN,2017,manuell,0,golf,5000,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...
371356,0,control,NaN,2000,manuell,65,corsa,150000,NaN,opel,ja
371392,0,test,kleinwagen,2002,manuell,60,fiesta,150000,benzin,ford,NaN
371402,0,control,kleinwagen,1999,manuell,53,swift,150000,benzin,suzuki,NaN
371431,0,control,kleinwagen,1999,manuell,37,arosa,150000,benzin,seat,ja
371522,0,control,NaN,2005,manuell,0,colt,150000,benzin,mitsubishi,ja

In [ ]:
df.loc[df['price'] <= 10]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage
7,0,test,limousine,1980,manuell,50,andere,40000,benzin,volkswagen,nein
40,0,test,NaN,1990,NaN,0,corsa,150000,benzin,opel,NaN
60,1,control,suv,1994,manuell,286,NaN,150000,NaN,sonstige_autos,NaN
91,1,control,limousine,1995,manuell,113,e_klasse,150000,diesel,mercedes_benz,nein
115,0,test,NaN,2017,manuell,0,golf,5000,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...
371356,0,control,NaN,2000,manuell,65,corsa,150000,NaN,opel,ja
371392,0,test,kleinwagen,2002,manuell,60,fiesta,150000,benzin,ford,NaN
371402,0,control,kleinwagen,1999,manuell,53,swift,150000,benzin,suzuki,NaN
371431,0,control,kleinwagen,1999,manuell,37,arosa,150000,benzin,seat,ja
371522,0,control,NaN,2005,manuell,0,colt,150000,benzin,mitsubishi,ja

In [ ]:
df.loc[df['price'] >= 350000]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage
1846,579000,control,coupe,1980,manuell,277,andere,20000,benzin,bmw,nein
10649,420000,control,coupe,2004,manuell,483,911,50000,benzin,porsche,nein
14663,11111111,control,coupe,2003,manuell,64,polo,150000,benzin,volkswagen,NaN
16889,1000000,control,kombi,1998,NaN,0,mondeo,150000,benzin,ford,ja
20143,1250000,test,coupe,2016,manuell,500,911,5000,benzin,porsche,nein
...,...,...,...,...,...,...,...,...,...,...,...
364171,3890000,test,coupe,2006,NaN,799,NaN,5000,NaN,sonstige_autos,nein
365461,599000,control,coupe,1980,manuell,377,andere,5000,benzin,bmw,nein
366653,99999999,control,cabrio,1996,manuell,192,3er,150000,NaN,bmw,NaN
366861,3895000,test,coupe,2006,NaN,799,NaN,5000,benzin,sonstige_autos,nein
367041,1600000,test,coupe,2005,NaN,625,NaN,10000,benzin,sonstige_autos,nein

In [ ]:
df = df[df.price<350000]

In [ ]:
df.describe()

               price  yearOfRegistration        powerPS      kilometer
count  371409.000000       371409.000000  371409.000000  371409.000000
mean     5723.791187         2004.561182     115.489256  125632.873732
std      8719.852069           91.938146     191.427445   40094.119028
min         0.000000         1000.000000       0.000000    5000.000000
25%      1150.000000         1999.000000      70.000000  125000.000000
50%      2950.000000         2003.000000     105.000000  150000.000000
75%      7200.000000         2008.000000     150.000000  150000.000000
max    349000.000000         9999.000000   20000.000000  150000.000000

In [ ]:
#outra maneira de tratar o preco <10

#import numpy as np
#percentil_1 = np.percentile(df["price"], 1)
#df["price"] = df["price"].apply(lambda x: percentil_1() if x < 10 else x)

In [ ]:
#devido aos pontos extremos vamos substituir os dados com preco <10 pela mediana
mediana_preco = df['price'].median
df["price"] = df["price"].apply(lambda x: mediana_preco() if x < 10 else x)

In [ ]:
df['price'].mean()

5819.36981871737

In [ ]:
df['price'].median()

2950.0

In [ ]:
df.describe()

               price  yearOfRegistration        powerPS      kilometer
count  371409.000000       371409.000000  371409.000000  371409.000000
mean     5819.369819         2004.561182     115.489256  125632.873732
std      8672.629793           91.938146     191.427445   40094.119028
min        10.000000         1000.000000       0.000000    5000.000000
25%      1300.000000         1999.000000      70.000000  125000.000000
50%      2950.000000         2003.000000     105.000000  150000.000000
75%      7200.000000         2008.000000     150.000000  150000.000000
max    349000.000000         9999.000000   20000.000000  150000.000000

# Identificando dados nulos

In [ ]:
nulos = df.isnull().sum()

nulos

price                     0
abtest                    0
vehicleType           37836
yearOfRegistration        0
gearbox               20169
powerPS                   0
model                 20441
kilometer                 0
fuelType              33346
brand                     0
notRepairedDamage     72016
dtype: int64

In [ ]:
df.isnull()

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage
0,False,False,True,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
371523,False,False,True,False,True,False,True,False,True,False,True
371524,False,False,False,False,False,False,False,False,False,False,False
371525,False,False,False,False,False,False,False,False,False,False,False
371526,False,False,False,False,False,False,False,False,False,False,True
371527,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.head(10)

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage
0,480.0,test,NaN,1993,manuell,0,golf,150000,benzin,volkswagen,NaN
1,18300.0,test,coupe,2011,manuell,190,NaN,125000,diesel,audi,ja
2,9800.0,test,suv,2004,automatik,163,grand,125000,diesel,jeep,NaN
3,1500.0,test,kleinwagen,2001,manuell,75,golf,150000,benzin,volkswagen,nein
4,3600.0,test,kleinwagen,2008,manuell,69,fabia,90000,diesel,skoda,nein
5,650.0,test,limousine,1995,manuell,102,3er,150000,benzin,bmw,ja
6,2200.0,test,cabrio,2004,manuell,109,2_reihe,150000,benzin,peugeot,nein
7,2950.0,test,limousine,1980,manuell,50,andere,40000,benzin,volkswagen,nein
8,14500.0,control,bus,2014,manuell,125,c_max,30000,benzin,ford,NaN
9,999.0,test,kleinwagen,1998,manuell,101,golf,150000,NaN,volkswagen,NaN

In [ ]:
df['vehicleType'].loc[df['price']<1400].value_counts()

vehicleType
kleinwagen    34975
limousine     21891
kombi         14828
bus            3747
coupe          3071
cabrio         1727
andere          961
suv             508
Name: count, dtype: int64

In [ ]:
df['vehicleType'].value_counts() #limousine é a moda, valor frequente

vehicleType
limousine     95881
kleinwagen    80018
kombi         67554
bus           30198
cabrio        22888
coupe         18976
suv           14705
andere         3353
Name: count, dtype: int64

In [ ]:
df['vehicleType'].mode()

0    limousine
Name: vehicleType, dtype: object

In [ ]:
df['vehicleType'].fillna('limousine', inplace = True)

In [ ]:
#df.loc[pd.isnull(df['gearbox'])].describe()

In [ ]:
df['gearbox'].value_counts()

gearbox
manuell      274149
automatik     77091
Name: count, dtype: int64

In [ ]:
df.groupby('gearbox')['price'].mean()

gearbox
automatik    10530.038824
manuell       4672.275379
Name: price, dtype: float64

In [ ]:
df['gearbox'].fillna('manuell', inplace = True)

In [ ]:
df['model'].value_counts().head(50) #modelo mais frequente moda

model
golf           30061
andere         26389
3er            20565
polo           13088
corsa          12573
astra          10829
passat         10304
a4             10255
c_klasse        8774
5er             8544
e_klasse        7561
a3              6603
a6              6021
focus           5948
fiesta          5775
transporter     5527
twingo          4953
2_reihe         4816
fortwo          4338
a_klasse        4316
vectra          4254
1er             3837
mondeo          3624
clio            3553
touran          3540
3_reihe         3503
punto           3347
zafira          3048
megane          2927
ibiza           2702
ka              2702
lupo            2594
x_reihe         2307
octavia         2195
cooper          2124
fabia           2080
clk             1853
micra           1758
caddy           1648
80              1606
sharan          1556
scenic          1447
omega           1417
slk             1386
leon            1374
laguna          1364
civic           1350
tt              1325
1_reihe         1306
6_reihe         1291
Name: count, dtype: int64

In [ ]:
df['fuelType'].value_counts() #benzin

fuelType
benzin     223791
diesel     107735
lpg          5377
cng           571
hybrid        278
andere        207
elektro       104
Name: count, dtype: int64

In [ ]:
df['notRepairedDamage'].value_counts()

notRepairedDamage
nein    263117
ja       36276
Name: count, dtype: int64

In [ ]:
valores = {'model':'golf',
           'fuelType': 'benzin',
           'notRepairedDamage':'nein'}
df = df.fillna(value = valores)

In [ ]:
df.isnull().sum()

price                 0
abtest                0
vehicleType           0
yearOfRegistration    0
gearbox               0
powerPS               0
model                 0
kilometer             0
fuelType              0
brand                 0
notRepairedDamage     0
dtype: int64

In [ ]:
df.drop('abtest', axis = 1, inplace = True)

In [ ]:
df.head()

,price,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage
0,480.0,limousine,1993,manuell,0,golf,150000,benzin,volkswagen,nein
1,18300.0,coupe,2011,manuell,190,golf,125000,diesel,audi,ja
2,9800.0,suv,2004,automatik,163,grand,125000,diesel,jeep,nein
3,1500.0,kleinwagen,2001,manuell,75,golf,150000,benzin,volkswagen,nein
4,3600.0,kleinwagen,2008,manuell,69,fabia,90000,diesel,skoda,nein

In [ ]:
df.shape

(371409, 10)

In [ ]:
df.isnull().sum()

price                 0
vehicleType           0
yearOfRegistration    0
gearbox               0
powerPS               0
model                 0
kilometer             0
fuelType              0
brand                 0
notRepairedDamage     0
dtype: int64

In [ ]:
df.shape

(371409, 10)

## Pré processamento

## Pré-processamento dos dados categóricos

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
enconder = OneHotEncoder()
encoded_data = enconder.fit_transform(df[['vehicleType', 'gearbox',  'fuelType', 'brand', 'notRepairedDamage']])

In [ ]:
#converter o resultado em um dataframe

encoded_df = pd.DataFrame(encoded_data.toarray(), columns = enconder.get_feature_names_out())

In [ ]:
# Concatenar os DataFrames
df_final = pd.concat([df.reset_index(drop=True), encoded_df.reset_index(drop=True)], axis=1)

# Opcional: Remover as colunas categóricas originais
df_final.drop(['vehicleType', 'gearbox', 'model', 'fuelType', 'brand', 'notRepairedDamage'], axis=1, inplace=True)

In [ ]:
df_final.head()

,price,yearOfRegistration,powerPS,kilometer,vehicleType_andere,vehicleType_bus,vehicleType_cabrio,vehicleType_coupe,vehicleType_kleinwagen,vehicleType_kombi,...,brand_smart,brand_sonstige_autos,brand_subaru,brand_suzuki,brand_toyota,brand_trabant,brand_volkswagen,brand_volvo,notRepairedDamage_ja,notRepairedDamage_nein
0,480.0,1993,0,150000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,18300.0,2011,190,125000,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,9800.0,2004,163,125000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1500.0,2001,75,150000,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,3600.0,2008,69,90000,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
# Mostrar todas as linhas que têm pelo menos um valor nulo
nulos = df_final[df_final.isnull().any(axis=1)]
nulos.head()

Empty DataFrame
Columns: [price, yearOfRegistration, powerPS, kilometer, vehicleType_andere, vehicleType_bus, vehicleType_cabrio, vehicleType_coupe, vehicleType_kleinwagen, vehicleType_kombi, vehicleType_limousine, vehicleType_suv, gearbox_automatik, gearbox_manuell, model_100, model_145, model_147, model_156, model_159, model_1_reihe, model_1er, model_200, model_2_reihe, model_300c, model_3_reihe, model_3er, model_4_reihe, model_500, model_5_reihe, model_5er, model_601, model_6_reihe, model_6er, model_7er, model_80, model_850, model_90, model_900, model_9000, model_911, model_a1, model_a2, model_a3, model_a4, model_a5, model_a6, model_a8, model_a_klasse, model_accord, model_agila, model_alhambra, model_almera, model_altea, model_amarok, model_andere, model_antara, model_arosa, model_astra, model_auris, model_avensis, model_aveo, model_aygo, model_b_klasse, model_b_max, model_beetle, model_berlingo, model_bora, model_boxster, model_bravo, model_c1, model_c2, model_c3, model_c4, model_c5, model_c_klasse, model_c_max, model_c_reihe, model_caddy, model_calibra, model_captiva, model_carisma, model_carnival, model_cayenne, model_cc, model_ceed, model_charade, model_cherokee, model_citigo, model_civic, model_cl, model_clio, model_clk, model_clubman, model_colt, model_combo, model_cooper, model_cordoba, model_corolla, model_corsa, model_cr_reihe, ...]
Index: []

[0 rows x 314 columns]

In [ ]:
df_final.isnull().sum()

price                     0
yearOfRegistration        0
powerPS                   0
kilometer                 0
vehicleType_andere        0
                         ..
brand_trabant             0
brand_volkswagen          0
brand_volvo               0
notRepairedDamage_ja      0
notRepairedDamage_nein    0
Length: 314, dtype: int64

In [ ]:
df_final.head()

,price,yearOfRegistration,powerPS,kilometer,vehicleType_andere,vehicleType_bus,vehicleType_cabrio,vehicleType_coupe,vehicleType_kleinwagen,vehicleType_kombi,...,brand_smart,brand_sonstige_autos,brand_subaru,brand_suzuki,brand_toyota,brand_trabant,brand_volkswagen,brand_volvo,notRepairedDamage_ja,notRepairedDamage_nein
0,480.0,1993,0,150000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,18300.0,2011,190,125000,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,9800.0,2004,163,125000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1500.0,2001,75,150000,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,3600.0,2008,69,90000,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
encoded_df.isnull().sum()

vehicleType_andere        0
vehicleType_bus           0
vehicleType_cabrio        0
vehicleType_coupe         0
vehicleType_kleinwagen    0
                         ..
brand_trabant             0
brand_volkswagen          0
brand_volvo               0
notRepairedDamage_ja      0
notRepairedDamage_nein    0
Length: 310, dtype: int64

In [ ]:
df.isnull().sum()

price                 0
vehicleType           0
yearOfRegistration    0
gearbox               0
powerPS               0
model                 0
kilometer             0
fuelType              0
brand                 0
notRepairedDamage     0
dtype: int64

## Pré-processamento Features Númericas

In [ ]:
from datetime import datetime

In [ ]:
ano = datetime.now().year

In [ ]:
ano

2024

In [ ]:
df_final["idade_veiculo"] = ano - df_final["yearOfRegistration"]

In [ ]:
df_final.drop(["yearOfRegistration"], axis = 1, inplace = True)

In [ ]:
df.head(1)

,price,vehicleType,gearbox,powerPS,model,kilometer,fuelType,brand,notRepairedDamage,idade_veiculo
0,480.0,limousine,manuell,0,golf,150000,benzin,volkswagen,nein,31

In [ ]:
from sklearn.preprocessing import StandardScaler
#from sklearn.preprocessing import MinMaxScaler

In [ ]:
padronizacao = StandardScaler()
#normalizacao = MinMaxScaler()

In [ ]:
# Assuming df is already prepared and contains 'powerPS' and 'kilometer' columns
columns_to_scale = ['powerPS', 'kilometer','idade_veiculo']

In [ ]:
# transformacao nas features numericas usando a padronizacao
scaled_values = padronizacao.fit_transform(df_final[columns_to_scale])
#scaled_values = normalizacao.fit_transform(df_final[columns_to_scale])

In [ ]:
scaled_values

array([[-0.60330644,  0.60774896,  0.12574973],
       [ 0.38923804, -0.01578472, -0.07003433],
       [ 0.24819225, -0.01578472,  0.00610392],
       ...,
       [-0.07046677,  0.60774896,  0.09311906],
       [-0.08091461,  0.60774896,  0.0278577 ],
       [ 1.06834743, -1.88638577, -0.09178812]])

In [ ]:
# Replace the original columns with the scaled values
df_final[columns_to_scale] = scaled_values

In [ ]:
df_final.head(5)

,price,yearOfRegistration,powerPS,kilometer,vehicleType_andere,vehicleType_bus,vehicleType_cabrio,vehicleType_coupe,vehicleType_kleinwagen,vehicleType_kombi,...,brand_sonstige_autos,brand_subaru,brand_suzuki,brand_toyota,brand_trabant,brand_volkswagen,brand_volvo,notRepairedDamage_ja,notRepairedDamage_nein,idade_veiculo
0,480.0,1993,-0.603306,0.607749,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.125750
1,18300.0,2011,0.389238,-0.015785,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.070034
2,9800.0,2004,0.248192,-0.015785,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.006104
3,1500.0,2001,-0.211513,0.607749,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.038735
4,3600.0,2008,-0.242856,-0.888732,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-0.037404

In [ ]:
## Validacao cruzada Hold Out

from sklearn.model_selection import train_test_split

In [ ]:
X = df_final.drop('price', axis = 1)
y = df_final['price']

In [ ]:
X_test, X_train, y_test, y_train = train_test_split(X, y, test_size = 0.2, random_state = 420)

In [ ]:
## Arquitetura da Rede Neural Multilayer Perceptron


from sklearn.neural_network import MLPRegressor

In [ ]:
X.shape

(371409, 313)

In [ ]:
(157+1)/2

79.0

In [ ]:

rna = MLPRegressor(hidden_layer_sizes= (157,79), #camadas
                   max_iter = 20000,  #epocas
                   tol = 0.0000001,  #tolerancia de parada  (o que vir primeiro tolerancia ou epoca)
                   learning_rate_init = 0.01, #taxa de aprendizagem inicial
                   solver = "adam",  #metodo de otimização
                   activation = "relu", #função de ativação
                   learning_rate = "constant", #taxa de aprendizagem
                   verbose = 3,) #traz informaçoes

In [ ]:
rna.fit(X_train,y_train)

Iteration 1, loss = 54136417.23932317
Iteration 2, loss = 53013591.85648952
Iteration 3, loss = 51903059.37946107
Iteration 4, loss = 50823459.34121675
Iteration 5, loss = 49823490.93434530
Iteration 6, loss = 48854437.28055920
Iteration 7, loss = 47915275.84780943
Iteration 8, loss = 46956280.78318911
Iteration 9, loss = 45864764.80699050
Iteration 10, loss = 44355469.67188973
Iteration 11, loss = 43156308.28229059
Iteration 12, loss = 42084827.11701924
Iteration 13, loss = 41092757.32824335
Iteration 14, loss = 40156346.65295655
Iteration 15, loss = 39261517.25844085
Iteration 16, loss = 38399175.21446535
Iteration 17, loss = 37574210.45316745
Iteration 18, loss = 36786844.21707568
Iteration 19, loss = 36024005.47998777
Iteration 20, loss = 35289802.42860414
Iteration 21, loss = 34587559.65870420
Iteration 22, loss = 33905369.15653662
Iteration 23, loss = 33246208.44330529
Iteration 24, loss = 32607132.74562082
Iteration 25, loss = 31993829.08604317
Iteration 26, loss = 31399447.70799904
Iteration 27, loss = 30828170.45742804
Iteration 28, loss = 30273392.83233155
Iteration 29, loss = 29737589.90523742
Iteration 30, loss = 29215638.09785354
Iteration 31, loss = 28706250.79613003
Iteration 32, loss = 28208165.57948694
Iteration 33, loss = 27733971.52365809
Iteration 34, loss = 27271876.94636738
Iteration 35, loss = 26822706.99668321
Iteration 36, loss = 26384004.35868017
Iteration 37, loss = 25962328.13657656
Iteration 38, loss = 25554731.08352666
Iteration 39, loss = 25160696.84361986
Iteration 40, loss = 24788544.66833846
Iteration 41, loss = 24417000.68097410
Iteration 42, loss = 24060054.77308282
Iteration 43, loss = 23714303.60896774
Iteration 44, loss = 23371544.54780837
Iteration 45, loss = 23047726.06651473
Iteration 46, loss = 22732544.33851174
Iteration 47, loss = 22425648.57027403
Iteration 48, loss = 22129027.06642946
Iteration 49, loss = 21843392.61795688
Iteration 50, loss = 21560395.98003512
Iteration 51, loss = 21290839.84378501
Iteration 52, loss = 21038995.80641319
Iteration 53, loss = 20761045.72888755
Iteration 54, loss = 20516387.59283832
Iteration 55, loss = 20276623.40130015
Iteration 56, loss = 20035600.72866588
Iteration 57, loss = 19800367.65190727
Iteration 58, loss = 19561990.74886398
Iteration 59, loss = 19329864.58273159
Iteration 60, loss = 19097937.03897045
Iteration 61, loss = 18882238.69107635
Iteration 62, loss = 18666463.10941606
Iteration 63, loss = 18480352.27396971
Iteration 64, loss = 18276942.82424047
Iteration 65, loss = 18098191.02055233
Iteration 66, loss = 17908805.31336983
Iteration 67, loss = 17723701.63857962
Iteration 68, loss = 17563664.69416986
Iteration 69, loss = 17388483.84194852
Iteration 70, loss = 17212592.49061225
Iteration 71, loss = 17057114.04127303
Iteration 72, loss = 16901781.93538127
Iteration 73, loss = 16748836.83782880
Iteration 74, loss = 16590090.76485734
Iteration 75, loss = 16433312.34903766
Iteration 76, loss = 16278244.66795663
Iteration 77, loss = 16129230.80712101
Iteration 78, loss = 15998342.23361276
Iteration 79, loss = 15869709.99914189
Iteration 80, loss = 15735118.93360474
Iteration 81, loss = 15597549.31140425
Iteration 82, loss = 15487016.18189180
Iteration 83, loss = 15358599.24241634
Iteration 84, loss = 15243314.21488151
Iteration 85, loss = 15125501.00541518
Iteration 86, loss = 15017872.67863889
Iteration 87, loss = 14908998.63130655
Iteration 88, loss = 14776920.36482321
Iteration 89, loss = 14687436.58510278
Iteration 90, loss = 14573385.84464720
Iteration 91, loss = 14467649.94458188
Iteration 92, loss = 14378501.02941672
Iteration 93, loss = 14279778.11088612
Iteration 94, loss = 14184678.38284050
Iteration 95, loss = 14082004.69547521
Iteration 96, loss = 13980775.36556488
Iteration 97, loss = 13894801.39142641
Iteration 98, loss = 13820415.87678053
Iteration 99, loss = 13723910.60130328
Iteration 100, loss = 13632852.10561628
Iteration 101, loss = 13569774.64397958
Iteration 102, loss = 13469123.47735345
Iteration 103, loss = 13383398.80056305
Iteration 104, loss = 13317717.27159667
Iteration 105, loss = 13239487.94500887
Iteration 106, loss = 13155621.86789223
Iteration 107, loss = 13064778.54077174
Iteration 108, loss = 12989789.28678021
Iteration 109, loss = 12922766.64996810
Iteration 110, loss = 12836896.68127796
Iteration 111, loss = 12779672.01795330
Iteration 112, loss = 12710646.26202372
Iteration 113, loss = 12631375.72980017
Iteration 114, loss = 12565822.20429049
Iteration 115, loss = 12499907.13583902
Iteration 116, loss = 12444044.80598518
Iteration 117, loss = 12362618.98482280
Iteration 118, loss = 12316095.40326904
Iteration 119, loss = 12255900.94159697
Iteration 120, loss = 12182522.86234295
Iteration 121, loss = 12120919.69589990
Iteration 122, loss = 12076383.88805777
Iteration 123, loss = 12022641.12601179
Iteration 124, loss = 11961912.48935129
Iteration 125, loss = 11906949.35884493
Iteration 126, loss = 11842966.39510045
Iteration 127, loss = 11796545.73644286
Iteration 128, loss = 11729109.16835632
Iteration 129, loss = 11696082.18613617
Iteration 130, loss = 11633977.01219223
Iteration 131, loss = 11582619.66268458
Iteration 132, loss = 11541762.73318702
Iteration 133, loss = 11484911.35798260
Iteration 134, loss = 11436548.99407851
Iteration 135, loss = 11375074.94713830
Iteration 136, loss = 11343091.66984618
Iteration 137, loss = 11287768.74223015
Iteration 138, loss = 11241184.35685904
Iteration 139, loss = 11215754.33131999
Iteration 140, loss = 11144920.49030566
Iteration 141, loss = 11112439.28679977
Iteration 142, loss = 11065255.97853757
Iteration 143, loss = 11022451.73794341
Iteration 144, loss = 10977086.50391121
Iteration 145, loss = 10936844.23500739
Iteration 146, loss = 10882396.19405641
Iteration 147, loss = 10848506.24310137
Iteration 148, loss = 10792564.26840176
Iteration 149, loss = 10771128.28250918
Iteration 150, loss = 10714502.36264201
Iteration 151, loss = 10654835.02269184
Iteration 152, loss = 10632039.74884867
Iteration 153, loss = 10603938.78351804
Iteration 154, loss = 10552145.03334968
Iteration 155, loss = 10514756.63320991
Iteration 156, loss = 10482254.08055748
Iteration 157, loss = 10434391.60490505
Iteration 158, loss = 10411444.85126923
Iteration 159, loss = 10390968.79387417
Iteration 160, loss = 10329734.97321387
Iteration 161, loss = 10307887.64515709
Iteration 162, loss = 10254716.61160461
Iteration 163, loss = 10241612.80727297
Iteration 164, loss = 10197623.61774291
Iteration 165, loss = 10165911.97890082
Iteration 166, loss = 10139630.53053006
Iteration 167, loss = 10093330.22165517
Iteration 168, loss = 10064135.42879845
Iteration 169, loss = 10008635.19437123
Iteration 170, loss = 9992952.35779798
Iteration 171, loss = 9979947.01067322
Iteration 172, loss = 9938639.66918654
Iteration 173, loss = 9939962.64389769
Iteration 174, loss = 9877310.02296839
Iteration 175, loss = 9851278.72262178
Iteration 176, loss = 9811103.85353539
Iteration 177, loss = 9792865.67834642
Iteration 178, loss = 9754565.36425929
Iteration 179, loss = 9723728.62412771
Iteration 180, loss = 9705232.79322014
Iteration 181, loss = 9682876.44331361
Iteration 182, loss = 9650584.98667170
Iteration 183, loss = 9611204.45622851
Iteration 184, loss = 9588595.95666294
Iteration 185, loss = 9578405.89469906
Iteration 186, loss = 9545781.07699043
Iteration 187, loss = 9525665.95619255
Iteration 188, loss = 9482475.12108683
Iteration 189, loss = 9466110.10107280
Iteration 190, loss = 9444814.29188222
Iteration 191, loss = 9426909.77433409
Iteration 192, loss = 9386506.52029472
Iteration 193, loss = 9347217.47951311
Iteration 194, loss = 9324844.83835684
Iteration 195, loss = 9304808.85892808
Iteration 196, loss = 9292095.95458140
Iteration 197, loss = 9262808.75850451
Iteration 198, loss = 9246678.98376056
Iteration 199, loss = 9213551.72528280
Iteration 200, loss = 9189095.96368617
Iteration 201, loss = 9156060.11356471
Iteration 202, loss = 9136596.91624278
Iteration 203, loss = 9114846.73671246
Iteration 204, loss = 9101734.51082089
Iteration 205, loss = 9064208.77842604
Iteration 206, loss = 9055266.87087564
Iteration 207, loss = 9034077.13742838
Iteration 208, loss = 9010392.56488671
Iteration 209, loss = 8984297.82792577
Iteration 210, loss = 8958703.75931140
Iteration 211, loss = 8953814.86999115
Iteration 212, loss = 8928840.06565127
Iteration 213, loss = 8897514.29169475
Iteration 214, loss = 8864191.61880036
Iteration 215, loss = 8861943.12290765
Iteration 216, loss = 8853177.04336826
Iteration 217, loss = 8845614.38302741
Iteration 218, loss = 8797945.91148011
Iteration 219, loss = 8803334.34933820
Iteration 220, loss = 8760195.44272826
Iteration 221, loss = 8743607.01205092
Iteration 222, loss = 8721159.37974655
Iteration 223, loss = 8708036.05819093
Iteration 224, loss = 8679208.15332245
Iteration 225, loss = 8673493.41842041
Iteration 226, loss = 8652602.41933985
Iteration 227, loss = 8623982.56715160
Iteration 228, loss = 8598930.06942167
Iteration 229, loss = 8599027.94993303
Iteration 230, loss = 8564478.64670464
Iteration 231, loss = 8545241.27759758
Iteration 232, loss = 8532638.86016415
Iteration 233, loss = 8527180.43550830
Iteration 234, loss = 8482984.66284616
Iteration 235, loss = 8472971.91942739
Iteration 236, loss = 8450546.09996795
Iteration 237, loss = 8426471.45559417
Iteration 238, loss = 8422550.21799794
Iteration 239, loss = 8397124.13143257
Iteration 240, loss = 8395714.01175970
Iteration 241, loss = 8348040.83484378
Iteration 242, loss = 8341602.25533288
Iteration 243, loss = 8342138.00759898
Iteration 244, loss = 8307789.25445197
Iteration 245, loss = 8279439.57011452
Iteration 246, loss = 8266151.27656850
Iteration 247, loss = 8245414.23920258
Iteration 248, loss = 8245128.22096153
Iteration 249, loss = 8220486.63115569
Iteration 250, loss = 8185250.55201456
Iteration 251, loss = 8152742.83551759
Iteration 252, loss = 8147898.07102483
Iteration 253, loss = 8123656.61581308
Iteration 254, loss = 8122265.03473843
Iteration 255, loss = 8088238.22212634
Iteration 256, loss = 8063619.77874323
Iteration 257, loss = 8058811.09111506
Iteration 258, loss = 8031210.07519315
Iteration 259, loss = 8014643.16265639
Iteration 260, loss = 8014320.15593614
Iteration 261, loss = 7989410.34203063
Iteration 262, loss = 7969284.36784432
Iteration 263, loss = 7940083.03721547
Iteration 264, loss = 7940787.78721199
Iteration 265, loss = 7928689.98332075
Iteration 266, loss = 7888224.78169260
Iteration 267, loss = 7876707.30424029
Iteration 268, loss = 7862139.51321313
Iteration 269, loss = 7849433.03181936
Iteration 270, loss = 7860303.89597925
Iteration 271, loss = 7834599.35250187
Iteration 272, loss = 7821216.64701966
Iteration 273, loss = 7783888.39004052
Iteration 274, loss = 7772803.65884972
Iteration 275, loss = 7739055.76371195
Iteration 276, loss = 7737067.73343211
Iteration 277, loss = 7735973.28993002
Iteration 278, loss = 7722301.86954093
Iteration 279, loss = 7709324.23512163
Iteration 280, loss = 7685962.62430498
Iteration 281, loss = 7672246.45976554
Iteration 282, loss = 7651507.97427957
Iteration 283, loss = 7636744.19116433
Iteration 284, loss = 7643291.10222427
Iteration 285, loss = 7601059.20774423
Iteration 286, loss = 7600648.82922837
Iteration 287, loss = 7585447.92764053
Iteration 288, loss = 7562611.25271411
Iteration 289, loss = 7542190.58234206
Iteration 290, loss = 7548714.51098256
Iteration 291, loss = 7516011.18276443
Iteration 292, loss = 7508319.86117754
Iteration 293, loss = 7504333.20467457
Iteration 294, loss = 7522061.16965981
Iteration 295, loss = 7475710.12824614
Iteration 296, loss = 7430094.85358520
Iteration 297, loss = 7436765.59267381
Iteration 298, loss = 7411853.34438625
Iteration 299, loss = 7383984.70075335
Iteration 300, loss = 7429275.33986194
Iteration 301, loss = 7385834.64805196
Iteration 302, loss = 7369138.97983526
Iteration 303, loss = 7357078.94844552
Iteration 304, loss = 7331552.59739961
Iteration 305, loss = 7343610.71160381
Iteration 306, loss = 7337768.93191182
Iteration 307, loss = 7303373.01695778
Iteration 308, loss = 7278868.24229843
Iteration 309, loss = 7270020.25062350
Iteration 310, loss = 7257055.06094867
Iteration 311, loss = 7259134.39051532
Iteration 312, loss = 7248489.89332328
Iteration 313, loss = 7228908.05855321
Iteration 314, loss = 7211842.59727021
Iteration 315, loss = 7190753.21446423
Iteration 316, loss = 7166369.07350755
Iteration 317, loss = 7165154.97972319
Iteration 318, loss = 7143410.31352853
Iteration 319, loss = 7126970.18983368
Iteration 320, loss = 7128920.30766785
Iteration 321, loss = 7113360.96563547
Iteration 322, loss = 7104002.88329944
Iteration 323, loss = 7097937.08220105
Iteration 324, loss = 7085693.08687958
Iteration 325, loss = 7062589.83560151
Iteration 326, loss = 7057635.94771072
Iteration 327, loss = 7027130.75699265
Iteration 328, loss = 7021780.96919166
Iteration 329, loss = 7033947.49803282
Iteration 330, loss = 6994593.22036123
Iteration 331, loss = 6999247.15515692
Iteration 332, loss = 6984757.62758103
Iteration 333, loss = 6966435.83369288
Iteration 334, loss = 6962020.78539591
Iteration 335, loss = 6977636.61655430
Iteration 336, loss = 6924736.08556432
Iteration 337, loss = 6917455.73887411
Iteration 338, loss = 6923962.62722073
Iteration 339, loss = 6895789.32643097
Iteration 340, loss = 6892542.24003060
Iteration 341, loss = 6882015.57927674
Iteration 342, loss = 6875334.44543523
Iteration 343, loss = 6855157.16313314
Iteration 344, loss = 6856050.34022991
Iteration 345, loss = 6828351.10432062
Iteration 346, loss = 6817663.65916605
Iteration 347, loss = 6837516.78792412
Iteration 348, loss = 6817993.54400730
Iteration 349, loss = 6762012.88043344
Iteration 350, loss = 6784261.82246554
Iteration 351, loss = 6788589.96610809
Iteration 352, loss = 6742302.96436229
Iteration 353, loss = 6749669.05246364
Iteration 354, loss = 6746957.41084070
Iteration 355, loss = 6710229.05146639
Iteration 356, loss = 6722523.77572760
Iteration 357, loss = 6689535.47072613
Iteration 358, loss = 6718140.47123270
Iteration 359, loss = 6724319.75794926
Iteration 360, loss = 6674495.25792503
Iteration 361, loss = 6653270.42770296
Iteration 362, loss = 6640927.79730068
Iteration 363, loss = 6642985.34966103
Iteration 364, loss = 6629794.45796155
Iteration 365, loss = 6636657.31366890
Iteration 366, loss = 6627225.38635900
Iteration 367, loss = 6602034.47051915
Iteration 368, loss = 6571340.57991040
Iteration 369, loss = 6554823.04515673
Iteration 370, loss = 6548873.79574950
Iteration 371, loss = 6563614.86441499
Iteration 372, loss = 6609956.52280928
Iteration 373, loss = 6593931.37020404
Iteration 374, loss = 6512142.60213544
Iteration 375, loss = 6490858.23658171
Iteration 376, loss = 6518814.11376704
Iteration 377, loss = 6515826.93185862
Iteration 378, loss = 6480505.64640578
Iteration 379, loss = 6486577.60252381
Iteration 380, loss = 6496453.54145039
Iteration 381, loss = 6457537.05015916
Iteration 382, loss = 6461008.78583892
Iteration 383, loss = 6424602.74864424
Iteration 384, loss = 6433551.26709860
Iteration 385, loss = 6430304.86431964
Iteration 386, loss = 6391306.60011592
Iteration 387, loss = 6396923.88551758
Iteration 388, loss = 6387466.19666898
Iteration 389, loss = 6382158.36306665
Iteration 390, loss = 6388880.16831029
Iteration 391, loss = 6362311.21191688
Iteration 392, loss = 6364310.72177409
Iteration 393, loss = 6331029.76746020
Iteration 394, loss = 6329227.24955088
Iteration 395, loss = 6302317.40949589
Iteration 396, loss = 6338773.03211698
Iteration 397, loss = 6307322.56097126
Iteration 398, loss = 6303207.74550953
Iteration 399, loss = 6275086.98560275
Iteration 400, loss = 6273158.16216259
Iteration 401, loss = 6264403.47150111
Iteration 402, loss = 6302496.78180420
Iteration 403, loss = 6253450.11126586
Iteration 404, loss = 6277892.38618671
Iteration 405, loss = 6226573.92751741
Iteration 406, loss = 6228635.94291505
Iteration 407, loss = 6208193.73495049
Iteration 408, loss = 6195283.77503309
Iteration 409, loss = 6175772.49193861
Iteration 410, loss = 6196967.61956818
Iteration 411, loss = 6194559.49804081
Iteration 412, loss = 6154272.20656909
Iteration 413, loss = 6135855.16986100
Iteration 414, loss = 6190902.64407841
Iteration 415, loss = 6160489.63326893
Iteration 416, loss = 6137279.05725466
Iteration 417, loss = 6101350.82001679
Iteration 418, loss = 6106585.65775705
Iteration 419, loss = 6097179.88619617
Iteration 420, loss = 6078499.92947027
Iteration 421, loss = 6089765.96206260
Iteration 422, loss = 6083356.69910817
Iteration 423, loss = 6078013.58246221
Iteration 424, loss = 6075420.92166192
Iteration 425, loss = 6039675.68880137
Iteration 426, loss = 6050972.87276615
Iteration 427, loss = 6080357.64884259
Iteration 428, loss = 6061727.68208422
Iteration 429, loss = 6036848.40292540
Iteration 430, loss = 6004082.09649803
Iteration 431, loss = 6011214.99729463
Iteration 432, loss = 6028636.63666771
Iteration 433, loss = 6009124.40027068
Iteration 434, loss = 5964530.68393076
Iteration 435, loss = 5996935.31724745
Iteration 436, loss = 5989275.77250002
Iteration 437, loss = 5965406.60373319
Iteration 438, loss = 5938867.91435882
Iteration 439, loss = 5918375.79982371
Iteration 440, loss = 5942821.07572508
Iteration 441, loss = 5917160.54113459
Iteration 442, loss = 5942495.58148114
Iteration 443, loss = 5929639.40090415
Iteration 444, loss = 5890902.58233294
Iteration 445, loss = 5909728.63999702
Iteration 446, loss = 5883429.62629607
Iteration 447, loss = 5895965.82974890
Iteration 448, loss = 5862145.40267969
Iteration 449, loss = 5847224.36586365
Iteration 450, loss = 5865434.59427858
Iteration 451, loss = 5875148.84148152
Iteration 452, loss = 5914960.45152604
Iteration 453, loss = 5872088.65818894
Iteration 454, loss = 5827517.17403053
Iteration 455, loss = 5798359.36085402
Iteration 456, loss = 5784581.29978443
Iteration 457, loss = 5797805.89854978
Iteration 458, loss = 5808374.95976040
Iteration 459, loss = 5808632.51108445
Iteration 460, loss = 5824190.34111976
Iteration 461, loss = 5820482.44068280
Iteration 462, loss = 5764079.91149712
Iteration 463, loss = 5735121.59379055
Iteration 464, loss = 5745156.85511914
Iteration 465, loss = 5749570.91941959
Iteration 466, loss = 5813319.44148123
Iteration 467, loss = 5726884.95393020
Iteration 468, loss = 5737016.85066266
Iteration 469, loss = 5730903.91437025
Iteration 470, loss = 5703591.60234027
Iteration 471, loss = 5767177.92359038
Iteration 472, loss = 5684773.67582892
Iteration 473, loss = 5667299.37469513
Iteration 474, loss = 5675829.04490085
Iteration 475, loss = 5696854.94069931
Iteration 476, loss = 5706148.78237029
Iteration 477, loss = 5686099.39928142
Iteration 478, loss = 5669209.86548729
Iteration 479, loss = 5644359.83353223
Iteration 480, loss = 5629728.59377526
Iteration 481, loss = 5614243.95646315
Iteration 482, loss = 5627413.57273633
Iteration 483, loss = 5618478.91453076
Iteration 484, loss = 5619265.39906567
Iteration 485, loss = 5639782.32702407
Iteration 486, loss = 5585506.39317556
Iteration 487, loss = 5590007.64305415
Iteration 488, loss = 5585531.31290526
Iteration 489, loss = 5622027.22239342
Iteration 490, loss = 5582716.13264020
Iteration 491, loss = 5566041.76863787
Iteration 492, loss = 5561598.94730543
Iteration 493, loss = 5580795.30048815
Iteration 494, loss = 5599010.97890453
Iteration 495, loss = 5535745.96125359
Iteration 496, loss = 5535301.07089287
Iteration 497, loss = 5508447.28539719
Iteration 498, loss = 5492709.82471971
Iteration 499, loss = 5500973.34946193
Iteration 500, loss = 5498417.48198357
Iteration 501, loss = 5489271.93296544
Iteration 502, loss = 5490884.44561105
Iteration 503, loss = 5503102.05338369
Iteration 504, loss = 5477962.80001770
Iteration 505, loss = 5465659.20784030
Iteration 506, loss = 5458270.32456449
Iteration 507, loss = 5475425.29574077
Iteration 508, loss = 5508537.79999156
Iteration 509, loss = 5431119.50732150
Iteration 510, loss = 5427728.17442687
Iteration 511, loss = 5426181.84549292

MLPRegressor(activation='logistic', hidden_layer_sizes=(157, 79),
             learning_rate_init=0.01, max_iter=20000, tol=1e-07, verbose=3)

In [ ]:


# Initialize the scaler
#scaler = StandardScaler()
normalizacao = MinMaxScaler()

# Fit and transform the selected columns
#scaled_values = scaler.fit_transform(df_final[columns_to_scale])
scaled_values = normalizacao.fit_transform(df_final[columns_to_scale])

# Replace the original columns with the scaled values
df_final[columns_to_scale] = scaled_values

In [ ]:
from datetime import datetime

currentYear = datetime.now().year

In [ ]:
currentYear

2024

In [ ]:
# Assuming df is your DataFrame with a 'year' column
##current_year = 2024
df_final['vehicle_age'] = currentYear - df_final['yearOfRegistration']

# Drop the original year column if not needed
df_final.drop(['yearOfRegistration'], axis=1, inplace=True)

In [ ]:
df_final.head()

,price,powerPS,kilometer,vehicleType_andere,vehicleType_bus,vehicleType_cabrio,vehicleType_coupe,vehicleType_kleinwagen,vehicleType_kombi,vehicleType_limousine,...,brand_sonstige_autos,brand_subaru,brand_suzuki,brand_toyota,brand_trabant,brand_volkswagen,brand_volvo,notRepairedDamage_ja,notRepairedDamage_nein,vehicle_age
0,480.0,0,150000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,31
1,18300.0,190,125000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,13
2,9800.0,163,125000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,20
3,1500.0,75,150000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,23
4,3600.0,69,90000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,16

In [ ]:
#from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Assuming df is already prepared and contains 'powerPS' and 'kilometer' columns
columns_to_scale = ['powerPS', 'kilometer','vehicle_age']

# Initialize the scaler
#scaler = StandardScaler()
normalizacao = MinMaxScaler()

# Fit and transform the selected columns
#scaled_values = scaler.fit_transform(df_final[columns_to_scale])
scaled_values = normalizacao.fit_transform(df_final[columns_to_scale])

# Replace the original columns with the scaled values
df_final[columns_to_scale] = scaled_values

In [ ]:
df_final.head()

,price,powerPS,kilometer,vehicleType_andere,vehicleType_bus,vehicleType_cabrio,vehicleType_coupe,vehicleType_kleinwagen,vehicleType_kombi,vehicleType_limousine,...,brand_sonstige_autos,brand_subaru,brand_suzuki,brand_toyota,brand_trabant,brand_volkswagen,brand_volvo,notRepairedDamage_ja,notRepairedDamage_nein,vehicle_age
0,480.0,0.00000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.889654
1,18300.0,0.00950,0.827586,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.887654
2,9800.0,0.00815,0.827586,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.888432
3,1500.0,0.00375,1.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.888765
4,3600.0,0.00345,0.586207,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.887988

## 6. Validação do Modelo

In [ ]:
X = df_final.drop('price', axis = 1)
y = df_final['price']

In [ ]:
X.head()

,powerPS,kilometer,vehicleType_andere,vehicleType_bus,vehicleType_cabrio,vehicleType_coupe,vehicleType_kleinwagen,vehicleType_kombi,vehicleType_limousine,vehicleType_suv,...,brand_sonstige_autos,brand_subaru,brand_suzuki,brand_toyota,brand_trabant,brand_volkswagen,brand_volvo,notRepairedDamage_ja,notRepairedDamage_nein,vehicle_age
0,0.00000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.889654
1,0.00950,0.827586,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.887654
2,0.00815,0.827586,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.888432
3,0.00375,1.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.888765
4,0.00345,0.586207,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.887988

## Validação do Modelo - Hold out

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 420)

In [ ]:
x_train.shape

(297127, 313)

In [ ]:
(313+1)/2

157.0

## Treinamento da rede neural

In [ ]:
(157+1)/2

79.0

In [ ]:
#arquitetura da rede
from sklearn.neural_network import MLPRegressor

rna = MLPRegressor(hidden_layer_sizes= (157), #camadas
                   max_iter = 20000,  #epocas
                   tol = 0.0000001,  #tolerancia de parada  (o que vir primeiro tolerancia ou epoca)
                   learning_rate_init = 0.01, #taxa de aprendizagem inicial
                   solver = "adam",  #metodo de otimização
                   activation = "relu", #função de ativação
                   learning_rate = "constant", #taxa de aprendizagem
                   verbose = 3,) #traz informaçoes

In [ ]:
#37634363.35136126
#37673550.04731806

In [ ]:
rna.fit(x_train, y_train)

Iteration 1, loss = 19642658.61199560
Iteration 2, loss = 16177487.67315470
Iteration 3, loss = 15448556.55740774
Iteration 4, loss = 15059224.86073128
Iteration 5, loss = 14740803.12427920
Iteration 6, loss = 14533161.63745310
Iteration 7, loss = 14354144.43937819

/usr/local/lib/python3.10/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:698: UserWarning: Training interrupted by user.
  warnings.warn("Training interrupted by user.")

MLPRegressor(hidden_layer_sizes=(157, 78), learning_rate_init=0.01,
             max_iter=20000, tol=1e-07, verbose=3)

In [ ]:
#Previssão do conjunto de teste
predito = rna.predict(x_test)

## Avaliando o modelo

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [ ]:
mean_absolute_error(y_test, predito)

2521.5347454303

In [ ]:
mean_squared_error(y_test, predito)

29050856.811176766

In [ ]:
r2_score(y_test, predito)

0.614642327695171

## Ajustando os parametros

In [ ]:
from sklearn.model_selection import GridSearchCV

# Grade de parâmetros para busca
param_grid = {
    'hidden_layer_sizes': [(50,), (100,), (50, 50), (100, 50), (100, 100)],
    'activation': ['tanh', 'relu'],
    'solver': ['sgd', 'adam'],
    'alpha': [0.0001, 0.05],
    'learning_rate': ['constant', 'adaptive'],
}

# MLPClassifier
mlp = MLPRegressor(max_iter=100)

# Grid Search
grid_search = GridSearchCV(mlp, param_grid, n_jobs=-1, cv=5)
grid_search.fit(x_train, y_train)

KeyboardInterrupt:

In [ ]:
# Configurar a grade de parâmetros
param_grid = {
    'hidden_layer_sizes': [(50,), (100,), (50, 50), (100, 50), (100, 100)],
    'activation': ['tanh', 'relu'],
    'solver': ['sgd', 'adam'],
    'alpha': [0.0001, 0.05],
    'learning_rate': ['constant', 'adaptive'],
}

# Criar o MLPRegressor
mlp = MLPRegressor(max_iter=1000)  # Ajuste o max_iter se necessário

# Configurar o Grid Search
grid_search = GridSearchCV(mlp, param_grid, n_jobs=-1, cv=5, scoring='neg_mean_squared_error')  # Usando erro quadrático médio negativo

# Executar o Grid Search
grid_search.fit(x_train, y_train)

# Mostrar os melhores parâmetros
print("Melhores parâmetros encontrados:")
print(grid_search.best_params_)

# Avaliar o modelo com os melhores parâmetros
best_model = grid_search.best_estimator_
print("Desempenho no conjunto de teste:")
print("Erro quadrático médio:", -best_model.score(X_test, y_test))  # Negativo porque usamos 'neg_mean_squared_error'