<a href="https://colab.research.google.com/github/scudilio/FIAP/blob/main/RN_Feature_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importando as bibliotecas

import pandas as pd

In [ ]:
df = pd.read_csv("/content/car_price_prediction_.csv", encoding = 'ISO-8859-1')

In [ ]:
df.head(10)

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model
0,1,Tesla,2016,2.3,Petrol,Manual,114832,New,26613.92,Model X
1,2,BMW,2018,4.4,Electric,Manual,143190,Used,14679.61,5 Series
2,3,Audi,2013,4.5,Electric,Manual,181601,New,44402.61,A4
3,4,Tesla,2011,4.1,Diesel,Automatic,68682,New,86374.33,Model Y
4,5,Ford,2009,2.6,Diesel,Manual,223009,Like New,73577.10,Mustang

In [ ]:
df.shape

(371528, 15)

In [ ]:
cols_to_drop = ['dateCrawled',  'dateCreated', 'nrOfPictures', 'postalCode', 'lastSeen']
df = df.drop(cols_to_drop, axis=1)

In [ ]:
df['name'].value_counts()

name
Ford_Fiesta                                              657
BMW_318i                                                 627
Opel_Corsa                                               622
Volkswagen_Golf_1.4                                      603
BMW_316i                                                 523
                                                        ...
Audi_A4_Avant_Klima_Gruene_Plakette_TÜV_&AU_NEU_XENON      1
Renault_clio_in_gold_450VB_!!                              1
Fiat_Doblo_1.6_Multijet                                    1
Renault_Laguna_1                                           1
BMW_M135i_vollausgestattet_NP_52.720____Euro               1
Name: count, Length: 233531, dtype: int64

In [ ]:
df = df.drop('name', axis=1)

In [ ]:
df["seller"].value_counts()

seller
privat        371525
gewerblich         3
Name: count, dtype: int64

In [ ]:
df = df.drop('seller', axis =1)

In [ ]:
df['offerType'].value_counts()

offerType
Angebot    371516
Gesuch         12
Name: count, dtype: int64

In [ ]:
df = df.drop('offerType', axis=1)

In [ ]:
df.head(5)

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein

In [ ]:
df["abtest"].value_counts()

abtest
test       192585
control    178943
Name: count, dtype: int64

In [ ]:
df = df.drop('abtest', axis=1)

## INCONSISTÊNCIA DA TARGET

In [ ]:
df.describe()

,price,yearOfRegistration,powerPS,kilometer,monthOfRegistration
count,3.715280e+05,371528.000000,371528.000000,371528.000000,371528.000000
mean,1.729514e+04,2004.577997,115.549477,125618.688228,5.734445
std,3.587954e+06,92.866598,192.139578,40112.337051,3.712412
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.000000
25%,1.150000e+03,1999.000000,70.000000,125000.000000,3.000000
50%,2.950000e+03,2003.000000,105.000000,150000.000000,6.000000
75%,7.200000e+03,2008.000000,150.000000,150000.000000,9.000000
max,2.147484e+09,9999.000000,20000.000000,150000.000000,12.000000

In [ ]:
df.loc[df.price<=10]

,price,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
7,0,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein
40,0,NaN,1990,NaN,0,corsa,150000,1,benzin,opel,NaN
60,1,suv,1994,manuell,286,NaN,150000,11,NaN,sonstige_autos,NaN
91,1,limousine,1995,manuell,113,e_klasse,150000,4,diesel,mercedes_benz,nein
115,0,NaN,2017,manuell,0,golf,5000,12,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...
371356,0,NaN,2000,manuell,65,corsa,150000,0,NaN,opel,ja
371392,0,kleinwagen,2002,manuell,60,fiesta,150000,3,benzin,ford,NaN
371402,0,kleinwagen,1999,manuell,53,swift,150000,3,benzin,suzuki,NaN
371431,0,kleinwagen,1999,manuell,37,arosa,150000,7,benzin,seat,ja
371522,0,NaN,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja

In [ ]:
i = df.loc[df.price>=350000]
i.shape

(119, 11)

In [ ]:
#substituindo precos < 10 pela media
media_price = df['price'].mean()

In [ ]:
df['price'] = df['price'].apply(lambda x: media_price if x<10 else x)

In [ ]:
#precos >350000 excluir
df = df.loc[df.price<350000]

In [ ]:
df.describe()

,price,yearOfRegistration,powerPS,kilometer,monthOfRegistration
count,371409.000000,371409.000000,371409.000000,371409.000000,371409.000000
mean,6284.165872,2004.561182,115.489256,125632.873732,5.735157
std,8888.121518,91.938146,191.427445,40094.119028,3.712193
min,10.000000,1000.000000,0.000000,5000.000000,0.000000
25%,1300.000000,1999.000000,70.000000,125000.000000,3.000000
50%,3300.000000,2003.000000,105.000000,150000.000000,6.000000
75%,8000.000000,2008.000000,150.000000,150000.000000,9.000000
max,349000.000000,9999.000000,20000.000000,150000.000000,12.000000

# Dados categoricos

In [ ]:
#dados Faltantes ??
nulos_por_coluna =df.isnull().sum()
nulos_por_coluna

price                  0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dtype: int64

In [ ]:
df["vehicleType"].value_counts() #limousine

vehicleType
limousine     95881
kleinwagen    80018
kombi         67554
bus           30198
cabrio        22888
coupe         18976
suv           14705
andere         3353
Name: count, dtype: int64

In [ ]:
df['vehicleType'] = df['vehicleType'].fillna('limousine')

<ipython-input-37-a8af712de832>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['vehicleType'] = df['vehicleType'].fillna('limousine')

In [ ]:
df["gearbox"].value_counts() #manuell

gearbox
manuell      274149
automatik     77091
Name: count, dtype: int64

In [ ]:
valores = {'gearbox':'manuell',
           'model':'golf', 'fuelType':'benzin',
           'notRepairedDamage':'nein'}
df = df.fillna(value = valores)